@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: nunito;
}

@layer utilities {
  .padding-x {
    @apply px-3;
  }

  .padding-x-desktop {
    @apply px-7
  }
  
  .padding-y {
    @apply py-4;
  }

  .sections-margin-x {
    @apply mx-[1rem] md:mx-[6rem] lg:mx-[4rem];
  }

  .sections-padding-x {
    @apply px-[1rem] md:px-[6rem] lg:px-[4rem];
  }
}
